.exp {
  padding: 5% 12%;
}

.exp__title {
  text-align: center;
  text-transform: uppercase;
  color: #007bff;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.exp__desc {
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: fit-content;
}

.exp__descp {
  margin-top: 100px;
}

.exp__descp > h4 {
  text-align: center;
}

.exp__descp > h5 {
  text-align: center;
}

.exp__explain {
  margin-top: 70px;
  margin-bottom: 40px;
}

.exp-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ramco-img {
  margin-top: 3px;
  height: 300px;
  width: 250px;
  cursor: pointer;
  border-radius: 10px;
}

.ramco-img:hover {
  transform: scale(1.07);
}

.title-block {
  font-weight:bold;
}

.exp_description > p {
  font-weight: 300;
}

.exp_description > h6 {
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
}

