.projects {
  padding: 5% 10%;
}

.projects__title {
  text-align: center;
  text-transform: uppercase;
  color: #007bff;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.projects__desc {
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: fit-content;
}

.projects__list {
  margin-top: 100px;
}

.projects__listdesc {
  margin-top: 20px;
}

.projects__row {
  margin-bottom: 40px;
}

.projects__img {
  height: 10%;
  width: 10%;
  float: right;
}
