.skills {
  padding: 5% 10%;
}

.skills__title {
  text-align: center;
  text-transform: uppercase;
  color: #007bff;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.skills__desc {
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: fit-content;
}

.skills__list {
  text-align: center;
  margin: 55px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1px;
}

.skills__heading {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.skills__content {
  padding-top: 10px;
  font-weight: 300;
}

.skills__img {
  height: 25px;
  vertical-align: middle;
}